<div class="list">
    <app-funding-list-item *ngFor="let funding of fundings"
                           class="list-item"
                           [funding]="funding"
                           [sportsBackgroundColor]="sportsBackgroundColor"
                           [sportsTextColor]="sportsTextColor"
                           [typesBackgroundColor]="typesBackgroundColor"
                           [typesTextColor]="typesTextColor"
                           (click)="onFundingClicked(funding.name)">
    </app-funding-list-item>
</div>
