<app-overview-toolbar class="toolbar"
                      [logoState]="logoState"
                      [searchPanelState]="searchPanelState"
                      (menuItemEventEmitter)="onMenuItemClicked($event)"></app-overview-toolbar>

<div [@searchPanelAnimation]="searchPanelState">
  <app-search-panel [sportsValuesMap]="sportsValuesMap"
                    [sportsBackgroundColor]="sportsBackgroundColor"
                    [typesValuesMap]="typesValuesMap"
                    [typesBackgroundColor]="typesBackgroundColor"

                    [volumeValue]="volumeLimit"
                    [volumeMin]="getVolumeMin()"
                    [volumeMax]="getVolumeMax()"
                    [volumeColor]="volumeColor"

                    (sportsSelectedEmitter)="onSportsSelected($event)"
                    (typesSelectedEmitter)="onTypesSelected($event)"
                    (volumeSelectedEmitter)="onVolumeLimitSelected($event)">
  </app-search-panel>
</div>

<div class="content-overview">
  <app-funding-list [fundingsMap]="fundingsMapFiltered"
                    [sportsBackgroundColor]="sportsBackgroundColor"
                    [sportsTextColor]="sportsTextColor"
                    [typesBackgroundColor]="typesBackgroundColor"
                    [typesTextColor]="typesTextColor"
                    (fundingClickedEventEmitter)="onFundingClicked($event)">
  </app-funding-list>
</div>
