<div class="container">
  <mat-card class="funding">
    <img *ngIf="funding.image !== ''" mat-card-image alt="funding image" [attr.data-src]="funding.image" class="funding-image lazyload">
    <mat-card-title>{{ funding.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ funding.subject }}
    </mat-card-subtitle>
    <mat-card-actions>
      <mat-chip-list aria-label="chip list">
        <app-tag-chip *ngIf="funding.region !== ''"
                      [title]="funding.region"
                      [background]="'transparent'"
                      [icon]="'map-marker-outline'">
        </app-tag-chip>
        <app-tag-chip *ngIf="funding.volume !== 0"
                      [title]="funding.volume.toString()"
                      [background]="'transparent'"
                      [icon]="'currency-eur'">
        </app-tag-chip>
      </mat-chip-list>
      <app-tag-chips [tags]="funding.sports" [icons]="sportsIcons" [readonly]="true" [background]="sportsBackgroundColor"
                     [color]="sportsTextColor" [collapsedText]="sportsCollapsedText"></app-tag-chips>
      <app-tag-chips [tags]="funding.types" [icons]="typesIcons" [readonly]="true" [background]="typesBackgroundColor"
                     [color]="typesTextColor"></app-tag-chips>
    </mat-card-actions>
  </mat-card>
</div>
