<div class="wrapper">
  <mat-card class="project">
    <img *ngIf="funding?.image !== ''" mat-card-image [attr.src]="funding?.image" class="funding-image">
    <mat-card-title>{{ funding?.name }}</mat-card-title>
    <mat-card-content>
      {{ funding?.text }}
    </mat-card-content>
    <mat-card-actions>
      <app-tag-chips [tags]="funding?.sport" [icons]="sportIcons" [readonly]="true" [background]="sportBackgroundColor" [color]="sportTextColor"
                     [collapsedText]="sportCollapsedText"></app-tag-chips>
    </mat-card-actions>
  </mat-card>
</div>
