.container:hover {
  cursor: pointer;
  transform: scale(1.01);
  opacity: 90%;
  transition: all .25s ease-in-out;
  transition-property: opacity, transform;
}

.funding-image {
  max-height: 200px;
  object-fit: cover
}

::ng-deep .funding .mat-card-actions {
  margin: 0 !important;
}
