<app-details-toolbar [title]="funding.name"
                     (menuItemEventEmitter)="onMenuItemClicked($event)">
</app-details-toolbar>

<div *ngIf="funding != null" class="content-details">
  <img *ngIf="funding.image !== ''" mat-card-image class="funding-banner"
       [attr.data-src]="funding.image">
  <div class="funding-basic-information flexcontainer">
    <mat-chip-list>
      <app-tag-chip *ngIf="funding.region !== ''"
                    [title]="funding.region"
                    [background]="'transparent'"
                    [icon]="'map-marker-outline'">
      </app-tag-chip>
    </mat-chip-list>
    <div class="flexbox"></div>
    <mat-chip-list>
      <app-tag-chip *ngIf="funding.volume !== 0"
                    [title]="funding.volume.toString()"
                    [background]="'transparent'"
                    [icon]="'currency-eur'">
      </app-tag-chip>
    </mat-chip-list>
    <div class="flexbox"></div>
    <div>
      <button mat-button class="wrap-text align-top" aria-label="contact" [style.color]=sportsTextColor
              (click)="onContactClicked()">
        FÖRDERGELDGEBER KONTAKTIEREN
      </button>
    </div>
  </div>
  <div class="funding-tags">
    <app-tag-chips [tags]="funding.sports" [icons]="sportsIcons" [readonly]="true" [background]="sportsBackgroundColor"
                   [color]="sportsTextColor"></app-tag-chips>
    <app-tag-chips [tags]="funding.types" [icons]="typesIcons" [readonly]="true" [background]="typesBackgroundColor"
                   [color]="typesTextColor"></app-tag-chips>
  </div>
  <div *ngIf="funding.subject != null" class="funding-detailed-information">
    <h3>
      <mat-icon [svgIcon]="'clipboard-check-outline'" class="section-icon"></mat-icon>
      <span>Fördergegenstand</span>
    </h3>
    {{ funding.subject }}
  </div>
  <div *ngIf="funding.target != null" class="funding-detailed-information">
    <h3>
      <mat-icon [svgIcon]="'account-group'" class="section-icon"></mat-icon>
      <span>Fördergeldempfänger</span>
    </h3>
    {{ funding.target }}
  </div>
  <div *ngIf="funding.hints != null" class="funding-detailed-information">
    <h3>
      <mat-icon [svgIcon]="'information-outline'" class="section-icon"></mat-icon>
      <span>Hinweise</span>
    </h3>
    {{ funding.hints }}
  </div>
  <div *ngIf="funding.equity != null" class="funding-detailed-information">
    <h3>
      <mat-icon [svgIcon]="'cash-check'" class="section-icon"></mat-icon>
      <span>Eigenmittel</span>
    </h3>
    {{ funding.equity }}
  </div>
  <div *ngIf="funding.financing != null" class="funding-detailed-information">
    <h3>
      <mat-icon [svgIcon]="'cash-plus'" class="section-icon"></mat-icon>
      <span>Finanzierung</span>
    </h3>
    {{ funding.financing }}
  </div>
  <div *ngIf="funding.deadline != null" class="funding-detailed-information">
    <h3>
      <mat-icon [svgIcon]="'clock-alert-outline'" class="section-icon"></mat-icon>
      <span>Antragsfrist</span>
    </h3>
    {{ funding.deadline }}
  </div>

  <div *ngIf="funding.updated != null" class="funding-detailed-information flexcontainer">
    <div class="flexbox"></div>
    <span class="updated-at">Informationen abgerufen am {{ funding.updated }}</span>
  </div>
</div>
